{% extends "base.html" %}
{% load static %}

{% block title %} 회원가입 {% endblock %}
{% block link %} {% static 'css/register.css' %} {% endblock %}

{% block content %}

<h1>Create New Customer Account</h1>
<fieldset class="per-inf">
    <div class="info-note">
        <span>개인정보</span>
    </div>
    <hr>
    <div class="name-info">

        <div class="first">
            <label class="label c" for="firstname">
                <span>이름</span>
            </label>
        </div>
        <div class="input-f">
            <input name="register[fname]" type="text" id="firstname" class="h" autocomplete="off"
                data-validate="{required:true}" autocomplete="off" aria-required="true">
        </div>

        <div class="input-newsletter">
            <input name="choice[newsletter]" type="checkbox" id="newsletter" value="1">
        </div>
        <div class="newsletter">
            <label class="label" for="newsletter">
                <span>뉴스레터 받기</span>
            </label>
        </div>

    </div>

</fieldset>


<fieldset class="sign-info">
    <div class="info-note">
        <span>회원가입 정보</span>
    </div>
    <hr>

    <div class="login-info">

        <div class="email">
            <label class="label c" for="email">
                <span>아이디</span>
            </label>
        </div>
        <div class="emaiil-input">
            <input name="user_id" type="text" id="user_id" class="h" autocomplete="off"
                data-validate="{required:true, 'validate-email':ture" aria-required="true">
        </div>

        <div class="password">
            <label class="label c" for="password">
                <span>비밀번호</span>
            </label>
        </div>
        <div class="pass-input">
            <input name="register[pass]" type="password" id="password" class="h" data-password-min-length="8"
                data-password-min-character-sets="3" data-validate="{required:true, 'validate-customer-password':true}"
                autocomplete="off" aria-required="true">
        </div>

        <div class="con-password">
            <label class="label c" for="confirm-password">
                <span>비밀번호 확인</span>
            </label>
        </div>
        <div class="con-pass-input">
            <input name="register[con-pass]" type="password" id="confirm-password" class="h"
                data-validate="{required:true, equalTo:'#password'}" autocomplete="off" aria-required="true">
        </div>

    </div>
</fieldset>

<div class="submit">
    <button type="submit" class="register-submit" id="register-send" onclick="location.href='#'">
        <span><b>가입하기</b></span>
    </button>
</div>

<div class="back">
    <a href="login.html">Back</a>
</div>

<!-- <form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    <div>
        <label for="user_id">아이디</label><input type="text" name="user_id" placeholder="아이디">
    </div>
    <div>
        <label for="username">이름</label><input type="text" name="username" placeholder="이름">
    </div>
    <div>
        <label for="password">비밀번호</label><input type="password" name="password" placeholder="비밀번호">
    </div>
    <div>
        <label for="password_confirm">비밀번호 확인</label><input type="password" name="password_confirm" placeholder="비밀번호 확인">
    </div>
    <div>
        <label for="phone_number">휴대전화</label><input type="text" name="phone_number" placeholder="휴대전화">
    </div>
    <div>
        <label for="address">주소</label><input type="text" name="address" placeholder="주소">
    </div>
    <div>
        <label for="email">이메일</label><input type="email" name="email" placeholder="이메일">
    </div>
    <div>
        <input type="submit" id="submit">
    </div>
</form> -->
{% endblock %}