{% extends 'base.html' %}
{% load static %}

{% block title%}웹프로그래밍 쇼핑몰{% endblock %}
{% block link %}{% static 'css/main.css' %}{% endblock %}

{% block content %}

<body>
    {% if user.is_authenticated %}
        <p>
            {{ user.username }}님 어서오세요.
            <a href="{% url 'logout' %}">로그아웃</a>
        </p>
        <p>
            <a href="{% url 'category' %}">카테고리</a>
        </p>
    {% else %}
        <p>           
            <a href="{% url 'login' %}">로그인</a>
            <a href="{% url 'register' %}">회원가입</a>
        </p>
    {% endif %}
</body>

{% endblock %}