<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/register.css" />
</head>
<body>
    <h1>Create New Customer Account</h1>
    <fieldset class="per-inf">
        <div class="info-note">
            <span>개인정보</span>
        </div>
        <hr>
        <div class="name-info">

            <div class="first">
                <label class="label c" for="firstname">
                    <span>First Name</span>
                </label>
            </div>
            <div class="input-f">
                <input name="register[fname]" type ="text" id ="firstname" class="h" autocomplete="off" data-validate="{required:true}" autocomplete="off"  aria-required="true">
            </div>

            <div class="last">
                <label class="label c" for="lastname">
                    <span>Last Name</span>
                </label>
            </div>
            <div class="input-l">
                <input name="register[lname]" type ="text" id ="lastname" class="h" autocomplete="off" data-validate="{required:true}" autocomplete="off"  aria-required="true">
            </div>

            
            <div class="input-newsletter">
                <input name="choice[newsletter]" type ="checkbox" id ="newsletter" value="1" >
            </div>
            <div class="newsletter">
                <label class="label" for="newsletter">
                    <span>뉴스레터 받기</span>
                </label>
            </div>
            

        </div>
    
    </fieldset>


    <fieldset class="sign-info">
        <div class="info-note">
            <span>회원가입 정보</span>
        </div>
        <hr>

        <div class="login-info">

            <div class="email">
                <label class="label c" for="email">
                    <span>Email</span>
                </label>
            </div>
            <div class = "emaiil-input">
                <input name="register[id]" type ="email" id ="email" class="h" autocomplete="off" data-validate="{required:true, 'validate-email':ture" aria-required="true">
            </div>

            <div class="password">
                <label class="label c" for="password">
                    <span>Password</span>
                </label>
            </div>
            <div class = "pass-input">
                <input name="register[pass]" type="password" id = "password" class="h" data-password-min-length="8" data-password-min-character-sets="3" data-validate="{required:true, 'validate-customer-password':true}" autocomplete="off" aria-required="true">
            </div>

            <div class="con-password">
                <label class="label c" for="confirm-password">
                    <span>Confirm Password</span>
                </label>
            </div>
            <div class = "con-pass-input">
                <input name="register[con-pass]" type="password" id = "confirm-password" class="h" data-validate="{required:true, equalTo:'#password'}" autocomplete="off" aria-required="true">
            </div>
        
        </div>
    </fieldset>

    <div class= "submit">
        <button type="submit" class="register-submit" id="register-send" onclick="location.href='#'">
            <span><b>가입하기</b></span>
        </button>
    </div>

    <div class="back">
        <a href="login.html">Back</a>
    </div>

</body>
</html>